/*******************
COLORS
*******************/
/*******************
FONT SIZES/HEIGHTS
*******************/
.form-item {
  padding: 0 0 8px;
  margin: 0; }
  .form-item .form-radios .form-item {
    display: inline-block;
    margin: 0 0 0 5px; }
    .form-item .form-radios .form-item:first-child {
      margin-left: 0; }

fieldset {
  padding: 0;
  margin: 0;
  border: none; }
  fieldset legend {
    padding: 24px 0 9px;
    margin: 0; }
  fieldset:first-child legend,
  fieldset fieldset legend {
    padding-top: 0; }
  fieldset .fieldset-legend {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px; }
  fieldset fieldset .fieldset-legend {
    font-weight: normal;
    font-size: 16px; }
  fieldset fieldset .fieldset-wrapper {
    margin-left: 32px; }

label {
  font-weight: normal;
  font-size: 16px;
  line-height: 23px; }

fieldset fieldset .fieldset-legend .bullet,
label .bullet {
  font-weight: bold; }

.webform-container-inline label {
  margin-right: 5px; }

.webform-component-checkboxes > label {
  font-weight: bold; }

input[type="text"] {
  height: 23px;
  background: #d6edff;
  border: 1px solid #4d85c5; }

.form-actions {
  margin: 0;
  text-align: center; }
  .form-actions input[type="submit"] {
    cursor: pointer;
    display: inline-block;
    padding: 8px 20px 10px;
    background-image: url("../../images/bg-submit-fallback.jpg");
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#910b31), to(#510017));
    background-image: -webkit-linear-gradient(top, #910b31, #510017);
    background-image: -moz-linear-gradient(top, #910b31, #510017);
    background-image: -ms-linear-gradient(top, #910b31, #510017);
    background-image: -o-linear-gradient(top, #910b31, #510017);
    border: none;
    font: bold 22px/1 quicksand, Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase; }
    .form-actions input[type="submit"]:hover, .form-actions input[type="submit"]:active {
      text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7); }

.namu-page-form #namu-content-wrapper .webform-component-markup {
  padding: 0; }
  .namu-page-form #namu-content-wrapper .webform-component-markup p {
    margin: 0 0 13px; }
    .namu-page-form #namu-content-wrapper .webform-component-markup p.form-bottom-disclaimer {
      margin-top: 41px; }

.namu-form-subhead {
  font-size: 22px;
  line-height: 26px;
  margin: 0; }
