/*******************
COLORS
*******************/
/*******************
FONT SIZES/HEIGHTS
*******************/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background: #013250 url("../../images/bg-body.jpg") center top no-repeat;
  font: 14px/1.2857 quicksand, Arial, Helvetica, sans-serif;
  color: #002a5c; }

#page {
  width: 936px;
  padding-top: 35px;
  margin: auto; }

h1 {
  font: bold 32px/1.25 quicksand, Arial, Helvetica, sans-serif; }
  h1.with-subhead {
    padding-bottom: 0; }
  h1 #namu-subhead {
    padding: 17px 0 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2857; }
    h1 #namu-subhead * {
      padding: 0;
      margin: 0; }

h2.namu-home-products-label {
  position: relative;
  top: -5px;
  margin: 0 0 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.25; }

p {
  margin: 1em 0 0; }
  p:first-child {
    margin-top: 0; }
  p.marketing-materials-item {
    margin-top: 0.9em;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.25; }
    p.marketing-materials-item:first-child {
      margin-top: 0; }

a:link, a:visited {
  color: #002a5c;
  text-decoration: none; }
a:hover, a:active {
  text-decoration: underline; }

ul {
  padding: 0;
  margin: 0; }

.no-style li {
  list-style: none; }

#top-banner,
#sidebar {
  display: none; }

#header {
  margin-bottom: 40px; }
  #header > .section:first-child {
    margin-bottom: 34px;
    font-size: 0;
    line-height: 0; }

#navigation .menu {
  overflow: hidden; }
  #navigation .menu li {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0; }
    #navigation .menu li a:link, #navigation .menu li a:visited {
      display: block;
      padding: 0 22px 0 22px;
      border-left: 2px solid #fff;
      font: bold 18px quicksand, Arial, Helvetica, sans-serif;
      color: #002a5c;
      text-decoration: none; }
    #navigation .menu li a:hover, #navigation .menu li a:active, #navigation .menu li a.active {
      color: #fff;
      text-decoration: none; }
    #navigation .menu li.first a:link, #navigation .menu li.first a:visited {
      padding-left: 4px;
      border-left: none; }
    #navigation .menu li.last {
      float: right; }
      #navigation .menu li.last a:link, #navigation .menu li.last a:visited {
        padding-right: 0; }

#main-wrapper {
  border: 1px solid #fff;
  margin-bottom: 30px;
  background: #fff; }

#namu-content-top {
  background: #b6bbbf;
  overflow: hidden; }
  #namu-content-top h1 {
    padding: 28px 30px 28px;
    margin: 0;
    line-height: 1.0625; }
    #namu-content-top h1.with-subhead {
      padding-bottom: 0; }
  #namu-content-top.with-banner h1 {
    float: left;
    width: 324px;
    padding-top: 20px;
    padding-bottom: 0; }
  #namu-content-top.with-banner #top-banner {
    display: block;
    float: right;
    border-left: 2px solid #840a2d;
    font-size: 0;
    line-height: 0; }
    #namu-content-top.with-banner #top-banner img {
      display: block; }

.with-banner-left {
  overflow: hidden;
  background: #fff; }
  .with-banner-left #namu-content-top,
  .with-banner-left #namu-content-wrapper,
  .with-banner-left #namu-content-bottom {
    float: right;
    width: 609px; }
  .with-banner-left #namu-content-bottom {
    padding: 26px 32px 0; }

.with-content-bottom > .section {
  background: #6a747c; }

.namu-page-products-services #namu-content-top h1 {
  padding-right: 122px; }

#namu-content-wrapper {
  padding: 20px 0 0;
  background: #fff; }
  #namu-content-wrapper p,
  #namu-content-wrapper ul {
    margin-left: 34px;
    margin-right: 34px; }

.with-content-bottom #namu-content-wrapper {
  padding-bottom: 30px; }

#namu-content-bottom {
  border-top: 1px solid #c3c7cb;
  overflow: hidden; }
  #namu-content-bottom h2 {
    margin: 0 0 20px;
    font: bold 32px quicksand, Arial, Helvetica, sans-serif;
    color: #fff; }

.twitter-feed li {
  list-style: none;
  margin: 9px 0 0;
  padding: 10px 16px 5px;
  background: #4d85c5;
  font-size: 16px;
  color: #fff; }
  .twitter-feed li a:link,
  .twitter-feed li a:visited,
  .twitter-feed li .twitter-date {
    font-weight: bold;
    font-size: 15px;
    color: #002a5c; }
  .twitter-feed li a:link, .twitter-feed li a:visited {
    text-decoration: none; }
  .twitter-feed li a:hover, .twitter-feed li a:active {
    text-decoration: underline; }

.lists-container ul, .lists-container li {
  list-style: none; }
.lists-container .row {
  padding: 24px 0 10px;
  overflow: hidden; }
  .lists-container .row:after {
    content: "";
    display: table;
    clear: both; }
  .lists-container .row.cols > li {
    float: left;
    width: 50%;
    min-height: 146px; }
  .lists-container .row.cols-2 > li.col-2 {
    float: right; }
.lists-container li {
  padding: 8px 20px 0 164px;
  font-size: 18px;
  color: #002a5c; }
  .lists-container li.bg-preserver ul li:first-child, .lists-container li.bg-anchor ul li:first-child {
    padding-right: 52px; }
  .lists-container li.bg-preserver {
    background: url("../../images/icon-preserver.png") left top no-repeat; }
  .lists-container li.bg-anchor {
    background: url("../../images/icon-anchor.png") 20px top no-repeat; }
  .lists-container li.bg-compass {
    background: url("../../images/icon-compass.png") 8px 8px no-repeat; }
  .lists-container li.bg-wheel {
    background: url("../../images/icon-wheel.png") left top no-repeat; }
  .lists-container li h4 {
    position: relative;
    top: -2px;
    margin: 0 0 12px;
    font: bold 20px quicksand, Arial, Helvetica, sans-serif; }

.lists-container li ul li,
.img-bullets li {
  float: none;
  display: block;
  padding: 0 0 0 12px;
  background: url("../../images/bullet-blue.png") left 8px no-repeat;
  color: #fff; }

.img-bullets li {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3125; }

#footer {
  padding-bottom: 10px;
  font-size: 13px;
  color: #fff; }
  #footer a:link, #footer a:visited {
    color: #fff; }
  #footer .namu-site-footer {
    overflow: hidden; }
  #footer .left {
    float: left; }
  #footer .right {
    float: right; }
    #footer .right.links li {
      display: inline-block;
      margin-left: 28px; }
      #footer .right.links li:first-child {
        margin-left: 0; }

.namu-page-home #page {
  width: 934px; }
.namu-page-home #main-wrapper {
  border: none;
  background: none; }
.namu-page-home #namu-content-top,
.namu-page-home #namu-content-top.with-banner {
  width: 934px;
  margin: auto;
  background: none; }
  .namu-page-home #namu-content-top #top-banner,
  .namu-page-home #namu-content-top.with-banner #top-banner {
    display: block;
    float: none;
    border: none; }
  .namu-page-home #namu-content-top .home-banner,
  .namu-page-home #namu-content-top.with-banner .home-banner {
    position: relative;
    width: 934px;
    height: 325px;
    background: white url("../../images/banner-home.jpg") center center no-repeat; }
  .namu-page-home #namu-content-top .namu-home-banner,
  .namu-page-home #namu-content-top.with-banner .namu-home-banner {
    position: absolute;
    left: 0;
    bottom: 18px;
    float: none;
    padding: 17px 22px 14px 23px;
    width: auto;
    background: url("../../images/bg-white-90.png") 0 0 repeat;
    background: rgba(255, 255, 255, 0.9); }
    .namu-page-home #namu-content-top .namu-home-banner .line2,
    .namu-page-home #namu-content-top.with-banner .namu-home-banner .line2 {
      display: block;
      margin-top: 4px;
      font-weight: normal;
      font-size: 19px; }
.namu-page-home #namu-content-wrapper {
  background: none; }
  .namu-page-home #namu-content-wrapper p,
  .namu-page-home #namu-content-wrapper ul {
    margin-right: 0;
    margin-left: 0; }
  .namu-page-home #namu-content-wrapper > .region-content {
    overflow: hidden; }
    .namu-page-home #namu-content-wrapper > .region-content .home-panel {
      height: 232px;
      background: #b6bbbf;
      border: 1px solid #fff; }
      .namu-page-home #namu-content-wrapper > .region-content .home-panel .namu-site-home-bottom-panel > .left {
        float: left;
        font-size: 0;
        line-height: 0;
        border-right: 1px solid #fff; }
      .namu-page-home #namu-content-wrapper > .region-content .home-panel .namu-site-home-bottom-panel > .right {
        float: right;
        padding: 35px 19px 0; }
      .namu-page-home #namu-content-wrapper > .region-content .home-panel.home-bio-panel {
        float: left;
        width: 538px; }
        .namu-page-home #namu-content-wrapper > .region-content .home-panel.home-bio-panel .namu-site-home-bottom-panel > .left {
          width: 162px; }
        .namu-page-home #namu-content-wrapper > .region-content .home-panel.home-bio-panel .namu-site-home-bottom-panel > .right {
          width: 374px; }
      .namu-page-home #namu-content-wrapper > .region-content .home-panel.home-products-panel {
        float: right;
        width: 377px; }
        .namu-page-home #namu-content-wrapper > .region-content .home-panel.home-products-panel .namu-site-home-bottom-panel > .left {
          width: 125px; }
        .namu-page-home #namu-content-wrapper > .region-content .home-panel.home-products-panel .namu-site-home-bottom-panel > .right {
          width: 250px;
          padding-right: 16px; }
.namu-page-home .products-panel-link-wrapper {
  margin-top: 18px;
  font-size: 13px;
  line-height: 1.0769; }

.has-top-banner #namu-content-top,
#namu-content-top.with-subhead {
  min-height: 110px; }

.has-top-banner #namu-content-top h1 {
  padding-top: 38px;
  padding-bottom: 0; }

#namu-content-top.with-subhead h1 {
  padding-top: 28px;
  padding-bottom: 0; }

.has-top-banner #namu-content-top {
  overflow: hidden; }
.has-top-banner #top-banner {
  display: block;
  float: right;
  width: 605px;
  height: 110px;
  background-position: right top;
  background-repeat: no-repeat;
  border-left: 3px solid #840a2d; }
.has-top-banner h1 {
  float: left;
  width: 323px; }
.has-top-banner.namu-page-products-services #namu-content-top h1 {
  padding-top: 22px; }
.has-top-banner.namu-page-products-services #top-banner {
  background-image: url("../../images/banner-top-products-services.jpg"); }
.has-top-banner.namu-page-contact-us #top-banner {
  background-image: url("../../images/banner-top-contact-us.jpg"); }

.has-left-banner #content {
  padding-left: 323px;
  background-position: left top;
  background-repeat: no-repeat; }
  .has-left-banner #content > .section {
    border-left: 3px solid #840a2d; }
.has-left-banner.namu-page-about-us #content {
  background-image: url("../../images/banner-left-about.jpg"); }
.has-left-banner.namu-page-glossary #content {
  background-color: #850b2d;
  background-image: url("../../images/banner-left-glossary.jpg"); }
.has-left-banner.namu-page-applications-index #content {
  background-image: url("../../images/banner-left-applications.jpg"); }

#namu-content-bottom {
  padding: 23px 31px 35px 32px; }

.namu-page-products-services #namu-content-wrapper {
  padding-top: 30px; }
  .namu-page-products-services #namu-content-wrapper p {
    font-size: 16px;
    line-height: 1.25; }
.namu-page-products-services #namu-content-bottom {
  padding: 0 28px 10px; }

.namu-page-applications-index #namu-content-wrapper {
  padding-bottom: 28px; }
  .namu-page-applications-index #namu-content-wrapper .content div:first-child .applications-list {
    padding-top: 14px; }

.applications-list li {
  margin: 17px 0 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.25;
  color: #4d85c5; }
  .applications-list li:first-child {
    margin-top: 0; }
  .applications-list li a:link, .applications-list li a:visited {
    color: #4d85c5;
    text-decoration: none; }
  .applications-list li a:hover, .applications-list li a:active {
    text-decoration: underline; }

.namu-page-glossary #namu-content-top h1 #namu-subhead,
.namu-page-glossary #namu-content-top.with-subhead h1 #namu-subhead {
  padding-bottom: 15px; }

.field-collection-container {
  border-bottom: none;
  margin-bottom: 0; }

.field-collection-view {
  padding: 0 30px 0;
  margin: 0;
  border: none; }

.field-collection-container .field-items .field-item {
  margin-bottom: 0; }

.field-name-field-glossary-item > .field-items > .field-item {
  margin-top: 8px;
  font-size: 14px;
  line-height: 16px; }
  .field-name-field-glossary-item > .field-items > .field-item:first-child {
    margin-top: 0; }
    .field-name-field-glossary-item > .field-items > .field-item:first-child .field-collection-view {
      padding-top: 10px; }
  .field-name-field-glossary-item > .field-items > .field-item .field-name-field-glossary-term {
    font-weight: bold;
    cursor: pointer; }
  .field-name-field-glossary-item > .field-items > .field-item .field-name-field-glossary-definition {
    display: none;
    margin-top: 5px;
    line-height: 1;
    color: #4d85c5; }

#namu-content-wrapper .field-collection-view p {
  margin: 10px 0 0; }
  #namu-content-wrapper .field-collection-view p:first-child {
    margin-top: 0; }

.glossary-disclaimer {
  padding: 24px 0 12px;
  font-size: 11px;
  line-height: 1.09;
  color: #4d85c5; }

.namu-page-contact-us #namu-content-wrapper {
  padding: 32px 60px 30px 32px;
  font-size: 16px;
  line-height: 20px;
  color: #555e64; }
  .namu-page-contact-us #namu-content-wrapper a:link, .namu-page-contact-us #namu-content-wrapper a:visited {
    color: #555e64; }
  .namu-page-contact-us #namu-content-wrapper .contact-column-head,
  .namu-page-contact-us #namu-content-wrapper .label,
  .namu-page-contact-us #namu-content-wrapper ul {
    margin: 0; }
  .namu-page-contact-us #namu-content-wrapper .contact-column-head,
  .namu-page-contact-us #namu-content-wrapper .label {
    font-weight: bold;
    color: #002a5c; }
  .namu-page-contact-us #namu-content-wrapper .contact-column-head {
    padding: 30px 0 0;
    font-size: 20px;
    line-height: 1; }
    .namu-page-contact-us #namu-content-wrapper .contact-column-head:first-child {
      padding-top: 0;
      padding-bottom: 10px; }
  .namu-page-contact-us #namu-content-wrapper .label {
    padding: 18px 0 0; }
    .namu-page-contact-us #namu-content-wrapper .label.first {
      padding-top: 0; }
  .namu-page-contact-us #namu-content-wrapper .states {
    padding: 0 20px 38px 0; }
    .namu-page-contact-us #namu-content-wrapper .states li {
      display: inline-block; }
  .namu-page-contact-us #namu-content-wrapper .field-name-body > .field-items > .field-item {
    display: table-row; }
    .namu-page-contact-us #namu-content-wrapper .field-name-body > .field-items > .field-item > .col {
      display: table-cell; }
      .namu-page-contact-us #namu-content-wrapper .field-name-body > .field-items > .field-item > .col.col-1, .namu-page-contact-us #namu-content-wrapper .field-name-body > .field-items > .field-item > .col.col-3 {
        width: 295px; }
      .namu-page-contact-us #namu-content-wrapper .field-name-body > .field-items > .field-item > .col.col-2 {
        width: 252px; }
      .namu-page-contact-us #namu-content-wrapper .field-name-body > .field-items > .field-item > .col.col-1, .namu-page-contact-us #namu-content-wrapper .field-name-body > .field-items > .field-item > .col.col-2 {
        padding-right: 18px;
        border-right: 1px solid #4d85c5; }
      .namu-page-contact-us #namu-content-wrapper .field-name-body > .field-items > .field-item > .col.col-2, .namu-page-contact-us #namu-content-wrapper .field-name-body > .field-items > .field-item > .col.col-3 {
        padding-left: 32px; }

.namu-page-form #namu-content-top {
  border-bottom: 3px solid #840a2d; }
.namu-page-form #namu-content-wrapper {
  padding: 32px 32px 50px; }
  .namu-page-form #namu-content-wrapper p {
    margin: 0; }
  .namu-page-form #namu-content-wrapper .field-name-body {
    font-size: 20px;
    line-height: 1; }
    .namu-page-form #namu-content-wrapper .field-name-body p {
      margin-bottom: 30px; }
