/*******************
COLORS
*******************/
/*******************
FONT FAMILIES
*******************/
/*******************
FONT SIZES/HEIGHTS
*******************/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background: url("../../images/bg-body.jpg") center top no-repeat;
  font: 14px/1.2857 quicksandregular, Arial, Helvetica, sans-serif;
  color: #002a5c; }

#page {
  width: 936px;
  padding-top: 35px;
  margin: auto; }

h1 {
  font: 32px/1.25 quicksandbold, Arial, Helvetica, sans-serif; }

p {
  margin: 1em 0 0; }
  p:first-child {
    margin-top: 0; }

ul {
  padding: 0;
  margin: 0; }

#header {
  margin-bottom: 40px; }
  #header > .section:first-child {
    margin-bottom: 34px;
    font-size: 0;
    line-height: 0; }

#navigation .menu {
  overflow: hidden; }
  #navigation .menu li {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0; }
    #navigation .menu li a:link, #navigation .menu li a:visited {
      display: block;
      padding: 0 20px 0;
      border-left: 2px solid #fff;
      font: 18px quicksandbold, Arial, Helvetica, sans-serif;
      color: #002a5c;
      text-decoration: none; }
    #navigation .menu li a:hover, #navigation .menu li a:active, #navigation .menu li a.active {
      color: #fff; }
    #navigation .menu li.first a:link, #navigation .menu li.first a:visited {
      padding-left: 4px;
      border-left: none; }
    #navigation .menu li.last a:link, #navigation .menu li.last a:visited {
      padding-right: 0; }

#main-wrapper {
  border: 1px solid #fff;
  margin-bottom: 30px;
  background: #fff; }

#namu-content-top {
  padding: 28px 30px 0;
  background: #b6bbbf; }
  #namu-content-top h1 {
    padding: 0 0 28px;
    margin: 0; }

#namu-content-wrapper {
  padding: 20px 0 30px; }
  #namu-content-wrapper p {
    margin-left: 34px;
    margin-right: 34px; }

.products-services-lists {
  background: #6a747c;
  overflow: hidden; }
  .products-services-lists li {
    float: left;
    list-style: none;
    padding-left: 76px;
    font-size: 18px;
    color: #002a5c; }
    .products-services-lists li h4 {
      font: 20px quicksandbold, Arial, Helvetica, sans-serif; }
    .products-services-lists li.col {
      width: 49%; }
      .products-services-lists li.col.col-1 {
        float: left;
        clear: left; }
      .products-services-lists li.col.col-2 {
        float: right;
        clear: right; }
  .products-services-lists li ul li {
    float: none;
    display: block;
    list-style: disc;
    padding-left: 0; }
    .products-services-lists li ul li span {
      color: #fff; }

#footer {
  font-size: 13px;
  color: #fff; }
